[submodule "thirdparty/substrate"]
	path = thirdparty/substrate
	url = https://github.com/db3-teams/substrate.git
[submodule "thirdparty/tree-sitter-sql"]
	path = thirdparty/tree-sitter-sql
	url = https://github.com/m-novikov/tree-sitter-sql.git
