[submodule "thirdparty/pg_wire"]
	path = thirdparty/pg_wire
	url = https://github.com/rtstore/pg_wire.git
[submodule "thirdparty/msql-srv"]
	path = thirdparty/msql-srv
	url = https://github.com/imotai/msql-srv.git
[submodule "thirdparty/merk"]
	path = thirdparty/merk
	url = https://github.com/nomic-io/merk.git
