[package]
name = "db3-crypto"
version = "0.1.0"
edition = "2021"
authors = ["jack wang <jackwang@db3.network>"]
description = "crypto module of db3"
homepage = "https://db3.network"
repository = "https://github.com/db3-teams/db3"
keywords = ["database", "web3", "db3"]

[dependencies]
db3-proto={ path ="../proto" }
db3-error={ path = "../error" }
db3-base={ path = "../base" }
ethereum-types = { version = "0.14.0", default-features = false }
ed25519-dalek = "1.0.1"
prost = "0.11"
prost-types = "0.11"
rand = "0.8.5"
bytes = "1"
hex = "0.4.3"
