name: CD
on:
    push:
        tags:
            - "[v]?[0-9]+.[0-9]+.[0-9]+"
jobs:
    publish:
        name: Publishing for ${{ matrix.job.os }}
        runs-on: ${{ matrix.job.os }}
        strategy:
            matrix:
                rust: [nightly]
                job:
                    - os: macos-latest
                      os-name: macos
                      target: x86_64-apple-darwin
                      architecture: x86_64
                      binary-postfix: ""
                      use-cross: false
                    - os: ubuntu-latest
                      os-name: linux
                      target: x86_64-unknown-linux-gnu
                      architecture: x86_64
                      binary-postfix: ""
                      use-cross: false
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3
              with:
                  submodules: recursive
            - name: Install Rust toolchain
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: ${{ matrix.rust }}
                  profile: minimal
                  override: true

            - uses: Swatinem/rust-cache@v2
            - name: Setup test env
              run: |
                  if [[ ${{ matrix.job.target }} == x86_64-unknown-linux-gnu ]]; then
                    sudo apt-get install protobuf-compiler
                  fi
                  if [[ ${{ matrix.job.target }} == x86_64-apple-darwin ]]; then
                    brew install protobuf
                  fi
            - name: Cargo build
              uses: actions-rs/cargo@v1
              with:
                  command: build
                  use-cross: ${{ matrix.job.use-cross }}
                  toolchain: ${{ matrix.rust }}
                  args: --release --target ${{ matrix.job.target }}
            - name: Packaging final binary
              shell: bash
              run: |
                  cd target/${{ matrix.job.target }}/release
                  if [[ ${{ matrix.job.target }} == x86_64-unknown-linux-gnu ]]; then
                    wget https://github.com/tendermint/tendermint/releases/download/v0.37.0-rc2/tendermint_0.37.0-rc2_linux_amd64.tar.gz
                    mv tendermint_0.37.0-rc2_linux_amd64.tar.gz tendermint.tar.gz
                    tar -zxf tendermint.tar.gz
                  fi
                  if [[ ${{ matrix.job.target }} == x86_64-apple-darwin ]]; then
                    wget https://github.com/tendermint/tendermint/releases/download/v0.37.0-rc2/tendermint_0.37.0-rc2_darwin_amd64.tar.gz
                    mv tendermint_0.37.0-rc2_darwin_amd64.tar.gz tendermint.tar.gz
                    tar -zxf tendermint.tar.gz
                  fi
                  RELEASE_NAME=db3-${GITHUB_REF/refs\/tags\//}-${{ matrix.job.os-name }}-${{ matrix.job.architecture }}
                  mkdir -p $RELEASE_NAME/bin
                  mkdir -p $RELEASE_NAME/tm
                  DB3_BINARY_NAME=db3
                  TM_BINARY_NAME=tendermint
                  ./tendermint init --home $RELEASE_NAME/tm/
                  mv $DB3_BINARY_NAME $TM_BINARY_NAME $RELEASE_NAME/bin/
                  tar czvf $RELEASE_NAME.tar.gz $RELEASE_NAME
                  ########## create sha256 ##########
                  if [[ ${{ runner.os }} == 'Windows' ]]; then
                    certutil -hashfile $RELEASE_NAME.tar.gz sha256 | grep -E [A-Fa-f0-9]{64} > $RELEASE_NAME.sha256
                  else
                    shasum -a 256 $RELEASE_NAME.tar.gz > $RELEASE_NAME.sha256
                  fi
            - name: Releasing assets
              uses: softprops/action-gh-release@v1
              with:
                  files: |
                      target/${{ matrix.job.target }}/release/db3*.tar.gz
                      target/${{ matrix.job.target }}/release/db3*.sha256
                      tools/db3up
                      config/devnet/genesis.json
              env:
                  GITHUB_TOKEN: ${{ secrets.CR_PAT }}

